@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
$color-principal: red;
// $selectores-del-buscador:(
//   font-size: 13px,
//   font-weight: bold,
//   letter-spacing: 1px,
//   text-transform: uppercase,
//   color: #757575,
//   margin-right: 10px,
//   );

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
header {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    .principal-title{
        height: 50px;
        background-color: red;
        width: 205px;
        h1 {
            margin-top: 0;
            margin-left: 10px;
            color: white;
            font-family: 'Bangers', cursive;
            font-weight: bold;
            font-size: 45px;
        }
    }
}
.banner {
    width: 100%;
    min-height: 400px;
    background-image: url("./img/descarga.jpg");
    background-size: cover;
    position: relative;
}

.section-search {
  margin: 60px 10px 80px;
  .searchText {
    border: 0;
    border-bottom: 2px solid #151515;
    width: 450px;
    padding: 5px 35px;
    border-radius: 0;
    font-size: 26px;
    box-sizing: border-box;
  }
  // .select-type {
  //   $selectores-del-buscador;
  // }

  // .selectSearch{
  //   $selectores-del-buscador;
  // }
  
}

.resultados {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    .card {
      width: 200px;
      // height: 400px;
      background-color: #151515;
      color: #fff;
      display: flex;
      flex-direction: column;
      align-content: space-between;
      justify-content: center;
      margin-top: 10px;
      margin-right: 10px;
      .imagen {
        width: 100%;
        height: auto;
        overflow: hidden;
      }
      .container-name {
        height: 100px;
      }
      h3 {
        margin-left: 10px;
      }
    }
    p {
      margin-top: 10px;
      margin-right: 450px;
      display: flex;
      flex-direction: column;
    }
  }

.hidden {
  display: none;
}
